<!-- WEB215-N801 Spring 25 -->

<nav>
    <ul class="nav-links">
        <li><a href="https://github.com/jcalhou9">GitHub</a></li>
        <li><a href="https://jcalhou9.github.io/">GitHub.io</a></li>
        <li><a href="https://jcalhou9.github.io/web115/">WEB115</a></li>
        <li><a href="https://jcalhou9.github.io/web215/">WEB215</a></li>
        <li><a href="https://jcalhou9.github.io/web250/">WEB250</a></li>
        <li><a href="https://www.freecodecamp.org/jcalhou9">freeCodeCamp</a></li>
        <li><a href="https://www.codecademy.com/profiles/jcalhou9">Codecademy</a></li>
        <li><a href="https://jsfiddle.net/u/jcalhou9/fiddles/">JSFiddle</a></li>
        <li><a href="https://www.linkedin.com/in/jeremy-calhoun-3aab016a/">Linkedin</a></li>
    </ul>
</nav>
<p><i>Created by Jeremy Calhoun, 
    <a href="https://www.freecodecamp.org/certification/jcalhou9/responsive-web-design">RWD</a>
    and
    <a href="https://www.freecodecamp.org/certification/jcalhou9/javascript-algorithms-and-data-structures-v8">JADS</a>
    Certified</i>
</p>